html, body{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url('../img/indexBackground.jpg');
    background-size: cover;
    background-blend-mode: multiply;
    color:white;

}

#Rdiv{
    display: grid;
    grid-template-rows: auto 80px 1fr 70px;
    height: 100vh;
    
    text-align: center;
}

#titleDiv{
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
}

#buttonDiv{
    display: grid;
    grid-template-columns: 1fr 1600px 1fr; /*사이즈에 따라 수정 필요*/
}

#buttonDivs{
    display: grid;
    padding: 20px; /*사이즈에 따라 수정 필요*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "a a b"
    "a a c";
}

#hrDlacked{
    width: 90%;
}

#ad{
    display: flex;
    background-color: #002d56;
    width: 100%;
    font-family: 'Pretendard';
    font-size: 15px; /*사이즈에 따라 수정 필요*/
}

#adEle{
    margin: auto;
}

#hufs70{
    width: 50px;
    
}

button{
    margin: 10px; /*사이즈에 따라 수정 필요*/
    cursor: pointer;
    transition: 0.5s;
    text-align: left;
    font-size: 50px; /*사이즈에 따라 수정 필요*/
    font-family: '고딕보';
    padding: 30px 3vh 0px 3vh; /*사이즈에 따라 수정 필요*/
    color: white;
    border-style: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    overflow: hidden;
    z-index: 10;
    position: relative;
}

button:focus{
    outline: none;
}

.buttonTextPosition{
    position: absolute;
    top: 20px;
    padding-right: 3vh;
}

.buttonImgPosition{
    position: absolute;
    height: 400px;
    bottom: -50px;
    right: -50px;
    opacity: 0.3;
}

.miniButtonImgPosition{
    position: absolute;
    height: 200px;
    bottom: -30px;
    right: -30px;
    opacity: 0.3;
}

#logo{
    height: 2vh;
}

h1{
    font-family: '외대얇';
    text-align: center;
    font-size: 3vw;
    font-weight: 100;
}

#TPButton{
    background-color: #008294;
    border-color: #006f7e;
    font-size: 30px;
    grid-area: b;
}

#TPButton::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,111,126, 0.2);
    top: -100%;
    left: 0;
    transition: 0.4s;
}

#TPButton:hover::before{
    transform: translateY(100%);

}

#SPButton{
    background-color: #002d56;
    border-color: #001a31;
    font-size: 30px;
    grid-area: c;
}

#SPButton::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,36,70, 0.2);
    top: -100%;
    left: 0;
    transition: 0.4s;
}

#SPButton:hover::before{
    transform: translateY(100%);

}

#BButton{
    background-color: #8d704f;
    border-color: #69543b;
    grid-area: a;
}

#BButton::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(105, 84, 59, 0.2);
    top: -100%;
    left: 0;
    transition: 0.4s;
}

#BButton:hover::before{
    transform: translateY(100%);

}


#TPButton:hover{
    background-color: #006f7e;
}

#SPButton:hover{
    background-color: #002446;
}

#BButton:hover{
    background-color: #69543b;
}

p{
    font-size:20px;
    font-family: "고딕얇";
}

h2{
    display: none;
}

#notAvaliableScreenIndex{
    display: none;
}

@font-face {
    font-family: '외대얇';
    src: url(../fonts/한국외대체M.ttf);
}

@font-face {
    font-family: '외대굵';
    src: url(../fonts/한국외대체B.ttf);
}
  
@font-face {
    font-family: 'Pretendard';
    src: url(../fonts/PretendardVariable.ttf);
}

@font-face{
    font-family: '고딕보';
    src: url(../fonts/a고딕17.ttf)
}

@font-face{
    font-family: '고딕얇';
    src: url(../fonts/a고딕10.ttf)
}



@media (max-width: 1600px){ /* 데스크톱 버전 버튼 배열 */
    button{
        margin: 0px; /*사이즈에 따라 수정 필요*/
        font-size: 40px; /*사이즈에 따라 수정 필요*/
        padding: 30px 3vh 0px 3vh; /*사이즈에 따라 수정 필요*/
    }
    
    #ad{
        font-size: 15px;
    }

    #buttonDiv{
        display: grid;
        grid-template-columns: 1fr 1400px 1fr; /*사이즈에 따라 수정 필요*/
    }

    p{
        font-size:15px;
        font-family: "고딕얇";
    }

    #SPButton{
        font-size: 20px;
    }

    #TPButton{
        font-size: 20px;
    }
    
}

@media (max-width: 1400px){ /* 데스크톱 버전 버튼 배열 */
    button{
        font-size: 30px; /*사이즈에 따라 수정 필요*/
    }
    #buttonDiv{
        grid-template-columns: 1fr 1200px 1fr; /*사이즈에 따라 수정 필요*/
    }

    #TPButton{
        font-size: 20px;
    }

    .buttonImgPosition{
        height: 300px;
    }
    
    .miniButtonImgPosition{
        height: 150px;
    }
}

@media (max-width: 1200px){ /* 데스크톱 버전 버튼 배열 */
    #buttonDiv{
        grid-template-columns: 1fr 1000px 1fr; /*사이즈에 따라 수정 필요*/
    }
}

@media (max-width: 1000px){
    h1{
        font-size: 40px;
    }

    #buttonDiv{
        grid-template-columns: 1fr 800px 1fr; 
    }

    #buttonDivs{
        display: grid;
        padding: 50px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "a a"
        "a a"
        "b c";
    }

    p{
        display: none;
    }

}

@media (max-width: 800px){

    h1{
        font-size: 30px;
    }

    #buttonDiv{
        grid-template-columns: 1fr 600px 1fr; 
    }

    p{
        display: none;
    }
    
    .buttonImgPosition{
        height: 250px;
    }

    
    .miniButtonImgPosition{
        height: 100px;
    }
}

@media (max-width: 600px){
    #Rdiv{
        display: none;
    }
    #notAvaliableScreenIndex{
        display: block;
        margin: 0;
        padding-top: 20px;
        text-align: center;
    }

    body{
        background-color: black;
    }
}