html, body{
    width: 100%;
    margin: 0;
    height: 100vh;
    font-family: 굴림;
}

.half{
    display: grid;
    grid-template-columns: 220px 1fr;
}

.left{
    background-color: #977955;
    height: 100vh;
    display: grid;
    grid-template-rows: 218px 1fr;
    font-size: 13.4px;
    letter-spacing: 0px;
    color: white;
}

.right{
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    text-align: center;
}
.hufsBlue{
    background-color: #1f326a;
    
    padding-left: 10px;
}

h1{
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 22px; 
}

p{
    margin: 0;
    margin-bottom: 12px;
}

.button{
    width: 100%;
    height: 35px;
    padding-left: 10px;
    text-align: left;
    background-color: #977955;
    color: white;
    border-style: hidden;
    font-family: 굴림;
}

.button:hover{
    background-color: #826648;
}

#noticeButton{
    width: 100%;
    height: 35px;
    padding-left: 10px;
    text-align: left;
    background-color: #818181;
    color: white;
    border-style: hidden;
    font-family: 굴림;
}

#noticeButton:hover{
    background-color: #5d5d5d;
}

#notice{
    font-size: 30px;
    font-family: "외대굵";
}

.menuContainer{
    display: grid;
    grid-template-columns: 1fr 40fr 1fr;
}
.menu{
    text-align: center;
    background-color: #EAEDF4;
    border-color: #003366;
    border-style:solid;
    border-left-style: none;
    border-right-style: none;
    border-width: 2px;
    margin-top: -6px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 295px 80px 150px 75px 1fr;
    font-size: 13px;
    font-weight: 800;
}

#start{
    margin-left: 14px;
    width: 80px;
    background-color: #3F5A9D;
    color: white;
    height: 24px;
    font-size: 12px;
    border-style: hidden;
    cursor: pointer;
}

#start:hover{
    background-color: #1f326a;
}

h2{
    font-size: 18px;
    margin-bottom: 0;
    color: #AB704F;
}

#pyo{
    height: 50px;
    display: none;
    grid-template-columns: 1fr 40fr 1fr;
}

table{
    margin-top: 65px;
    border-collapse: collapse;
    width: 100%;
}

td{
    border: 0.1px solid #cccccc;
    height: 26px;
}

th{
    border-top: 2px solid #003366;
    border-bottom: 2px solid #003366;
    border-left: 0.1px solid #cccccc;
    border-right: 0.1px solid #cccccc;
    font-size: 13px;
    height: 31px;
}

title{
    display: grid;
    grid-template-columns: 1fr 40fr 1fr;
}

.register{
    background-image: url('img/register.png');
    background-repeat: no-repeat;
    border-style: hidden;
    width:44px;
    height:16px;
    cursor: pointer;
}

.developer{
    background: #002d56;
    width: 20%;
    height: 6vh;
    transition: 1s;
    border-style: hidden;
    border-radius: 2%;
    color: white;
    font-size: 15px;
}

.developer:hover{
    background: #8d704f;
    width: 30%;
    height: 7vh;
}
@font-face {
    font-family: "외대얇";
    src: url(fonts/한국외대체M.ttf);
}

@font-face {
    font-family: "외대굵";
    src: url(fonts/한국외대체B.ttf);
}