html,
body {
  width: 100%;
  margin: 0;
  height: 100vh;
  font-family: 굴림;
}

.half {
  display: grid;
  grid-template-columns: 220px 1fr;
}

.left {
  background-color: #977955;
  height: 100vh;
  display: grid;
  grid-template-rows: 218px 1fr;
  font-size: 13.4px;
  letter-spacing: 0px;
  color: white;
}

.right { /*developer.html, index.html의 오른쪽 부분 구성*/
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  text-align: center;
}

.Course_Registeration_right{ /*Course_Registeration.html의 오른쪽 부분 구성*/
  display: grid;
  grid-template-rows: auto 0fr;
  text-align: center;
}

.hufsGreen {
  background-color: #1f326a;

  padding-left: 10px;
}

h1 {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 22px;
}

p {
  margin: 0;
  margin-bottom: 12px;
}

.button {
  width: 100%;
  height: 35px;
  padding-left: 10px;
  text-align: left;
  background-color: #977955;
  color: white;
  border-style: hidden;
  font-family: 굴림;
}

.button:hover {
  background-color: #826648;
}

#noticeButton {
  /*좌측 메뉴 Notice버튼*/
  width: 100%;
  height: 35px;
  padding-left: 10px;
  text-align: left;
  background-color: #818181;
  color: white;
  border-style: hidden;
  font-family: 굴림;
}

#noticeButton:hover {
  /*좌측 메뉴 Notice버튼 hover*/
  background-color: #5d5d5d;
}

#notice-big {
  /*index.html의 오른쪽 부분 폰트 크기 설정*/
  font-size: 50px;
  font-family: '외대굵';
}

#notice-small {
  /*index.html의 오른쪽 부분 폰트 크기 설정*/
  font-size: 20px;
  font-family: '외대얇';
}

.menuContainer {
  /*Course.Registeration.html 오른쪽 상단 메뉴 바*/
  display: grid;
  grid-template-columns: 1fr 40fr 1fr;
}

.menu {
  /*Course.Registeration.html 오른쪽 상단 메뉴 값*/
  text-align: center;
  background-color: #eaedf4;
  border-color: #003366;
  border-style: solid;
  border-left-style: none;
  border-right-style: none;
  border-width: 2px;
  margin-top: -6px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 295px 80px 150px 75px 1fr;
  font-size: 13px;
  font-weight: 800;
}

#Search {
  /*Search 버튼*/
  margin-left: 14px;
  width: 80px;
  background-color: #3f5a9d;
  color: white;
  height: 24px;
  font-size: 12px;
  border-style: hidden;
  cursor: pointer;
}

#Search:hover {
  /*Search 버튼*/
  background-color: #1f326a;
}

#pyo {
  /*Search 버튼 누르기 전 예비수강신청함 차트 가리기*/
  /*현재 수강신청 및 수정/삭제 위에 있는 차트의 스크롤 바 제작 중에 있음.*/
  margin-top: 65px;
  height: 30vh;
  visibility: hidden;
  display: grid;
  grid-template-columns: 1fr 40fr 1fr;
  /*overflow: auto;*/
}

#pyopyo {
  /*수강신청 및 수정/삭제 아래에 있는 차트*/
  height: 30vh;
  display: grid;
  grid-template-columns: 1fr 40fr 1fr;
  bottom: 0;
  overflow: auto;
}


h2 {
  font-size: 18px;
  margin-bottom: 0;
  color: #ab704f;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 0.1px solid #cccccc;
  height: 26px;
}

th {
  border-top: 2px solid #003366;
  border-bottom: 2px solid #003366;
  border-left: 0.1px solid #cccccc;
  border-right: 0.1px solid #cccccc;
  font-size: 13px;
  height: 31px;
}

title {
  display: grid;
  grid-template-columns: 1fr 40fr 1fr;
}

.register {
  /*Course_Registeration.html의 REGISTER 버튼*/
  background-image: url('img/register.png');
  background-repeat: no-repeat;
  border-style: hidden;
  width: 44px;
  height: 16px;
  cursor: pointer;
}

.delete {
  /*DELETE 버튼*/
  background-image: url('img/delete.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-style: hidden;
  width: 45px;
  height: 15px;
  cursor: pointer;
}

.doneUp {
  color: #ab704f;
  text-align: left;
  font-size: 13px;
}

@font-face {
  font-family: '외대얇';
  src: url(fonts/한국외대체M.ttf);
}

@font-face {
  font-family: '외대굵';
  src: url(fonts/한국외대체B.ttf);
}
